<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/newLavacar.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>

    <nav class="box-topo">
        <div>

        </div>
    </nav>

    <section class="campo_section">
        <div class="container">
            <div class="campo_formulario">
                <div class="logo">
                    <img src="../img/logo.png"></img>
                </div>
                <div>
                    <form method="POST">
                        <br>
                        <label class="fonteLabel" for="nome_empresa">Nome da empresa:</label>
                        <br>
                        <input class="inputTexts" type="text" id="nome_empresa" name="nome_empresa" required>
                        <br>
                        <label class="fonteLabel" for="CNPJ_empresa">CNPJ da empresa:</label>
                        <br>
                        <input class="inputTexts" type="text" id="CNPJ_empresa" name="CNPJ_empresa" required>
                        <br>
                        <label class="fonteLabel" for="telefone">Telefone:</label>
                        <br>
                        <input class="inputTexts" type="text" id="telefone" name="telefone" required>
                        <br>
                        <label class="fonteLabel" for="cep">Cep:</label>
                        <br>
                        <input class="inputTexts" type="text" id="cep" name="cep" required>
                        <br>
                        <label class="fonteLabel" for="rua">Rua:</label>
                        <br>
                        <input class="inputTexts" type="text" id="rua" name="rua" required>
                        <br>
                        <label class="bairro fonteLabel" for="bairro">Bairro:</label>
                        <label class="numero_endereco fonteLabel" for="numero_endereco">Número:</label>
                        <br>
                        <input class="inputTexts bairro" type="text" id="bairro" name="bairro" required>
                        <input class="inputTexts numero_endereco" type="text" id="numero_endereco" name="numero_endereco" required>
                        <br>
                        <label class="fonteLabel" for="fechamento_mensal ">Selecione uma data de seu fechamento mensal:</label>
                        <input class="inputTexts" type="date" id="fechamento_mensal" name="fechamento_mensal" required>
                        <button type="submit" class="button">Avançar</button>
                    </form>
                </div>

            </div>
        </div>
    </section>
    <footer class="rodape">
        <div class="container">
            <div class="boxButtonsFooter">
                <a href="https://www.google.com.br" class="buttonsFooter">Home</a>
                <a href="https://www.google.com.br" class="buttonsFooter">Resumos</a>
                <a href="https://www.google.com.br" class="buttonsFooter">Fechamento</a>
                <a href="https://www.google.com.br" class="buttonsFooter">Clientes</a>
            </div>
        </div>
    </footer>


</body>
</html>